
@model ProductsListViewModel

@foreach (var p in Model.Products ?? Enumerable.Empty<Product>()) {
     <partial name="ProductSummary" model="p" />
}

@{
    var pagination = Model.PaginationInfo;
}

<nav aria-label="Product Page Navigation" class="mt-4">
    <ul class="pagination justify-content-center">

        @foreach (var link in pagination.Links)
        {
            <li class="page-item @(link.IsCurrent ? "active" : "") @(link.IsDisabled ? "disabled" : "")">
                
                @if (link.IsEllipsis)
                {
                    <span class="page-link">...</span>
                }
                else
                {
                    <a class="page-link" 
                       asp-route-productPage="@link.PageIndex" 
                       aria-label="@link.Text"
                       aria-current="@(link.IsCurrent ? "page" : null)">
                        @link.Text
                    </a>
                }
            </li>
        }
    </ul>
</nav>

@*<nav aria-label="Page navigation example">
     <ul class="pagination d-flex flex-wrap btn-group my-2"
         page-model="@Model.PagingInfo" 
         page-action="Index"
         page-classes-enabled="true" 
         page-class="page-item"
         page-class-selected="active">
     </ul>
</nav>*@