
@model ProductsListViewModel

@foreach (var p in Model.Products ?? Enumerable.Empty<Product>()) {
     <partial name="ProductSummary" model="p" />
}

<nav aria-label="Product Page Navigation" class="mt-4">
    <ul class="pagination justify-content-center">

        <li class="page-item" disabled="@(Model.PaginationInfo.HasPreviousPage == false)">
            <a class="page-link" 
               asp-route-productPage="@(Model.PaginationInfo.PageIndex - 1)" 
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @if (Model.PaginationInfo.PageNumbers.FirstOrDefault() > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-productPage="1">1</a>
            </li>
            @if (Model.PaginationInfo.PageNumbers.FirstOrDefault() > 2)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
            }
        }
        
        @foreach (var i in Model.PaginationInfo.PageNumbers)
        {
            <li class="page-item @(i == Model.PaginationInfo.PageIndex ? "active" : "")">
                <a class="page-link" 
                   asp-route-productPage="@i">
                    @i
                </a>
            </li>
        }

        <li class="page-item @(Model.PaginationInfo.HasNextPage ? "" : "disabled")">
            <a class="page-link" 
               asp-route-productPage="@(Model.PaginationInfo.PageIndex + 1)" 
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

@*<nav aria-label="Page navigation example">
     <ul class="pagination d-flex flex-wrap btn-group my-2"
         page-model="@Model.PagingInfo" 
         page-action="Index"
         page-classes-enabled="true" 
         page-class="page-item"
         page-class-selected="active">
     </ul>
</nav>*@